#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 136.34px;
  text-decoration: none;
    border: solid;
    border-width: 1px;
    border-color: white;
}

li a:hover {
  background-color: #c500cc;
    color: purple;
}
